body {
  font-family: "Raleway" , sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

code {
  font-family: monospace;
}

.loading {
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
